# Supabase Database Connection
# Copy this file to .env and replace YOUR-PASSWORD with your actual password
DATABASE_URL="postgresql://postgres.exfqvkkassxypjycdpsw:YOUR-PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# JWT Secret
JWT_SECRET=vividh_secret

# Port
PORT=3001

